[Unit]
Description=Celery beat
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=celerybeat
EnvironmentFile=/var/www/.env
WorkingDirectory=/var/www
Restart=always
ExecStart=/var/www/.venv/bin/python -m celery beat \
  --app webapp \
  --loglevel error \
  --schedule /var/run/celerybeat/celerybeat_schedule \
  --pidfile /var/run/celerybeat/celerybeat.pid

[Install]
WantedBy=multi-user.target
