{% extends "base_email.html" %}

{% block content %}{% autoescape off %}
<p>
  This email has been sent to you because you requested a password reset.
</p>

<p>
  Please go to the following page and choose a new password:<br>
  {% block reset_link %}
  <a href="{{ protocol }}://{{ domain }}/password_reset/?uid={{ uid }}&amp;token={{ token }}&amp;email={{ email_encoded }}">
    {{ protocol }}://{{ domain }}/password_reset/?uid={{ uid }}&amp;token={{ token }}&amp;email={{ email_encoded }}
    </a>
  {% endblock %}
</p>

<p>
  Your username is {{ user.get_username }}, in case you forgot.
</p>

<br>

<p>
  Kind regards,<br><br>
  {{ project_name }}
</p>
{% endautoescape %}{% endblock content %}
